*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-top: 15px;
}

h1{
	background-color: aliceblue;
	font-weight: bolder;
	margin-bottom: 5px;
}

p{
	background-color: rgb(255, 221, 247);
	font-style: italic;
	margin-bottom: 15px;
}